/1Архив
/2site dop
/3workshop4
/4figma practice
/basket.html
/catalog.html
/img
/img-catalog-basket
/index.html
/site.rar
/style.css
/style.css.map
/style.scss
/_basket.scss
/_mobile.scss
/_tablet.scss