@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 393px);
        padding-right: calc(50% - 393px);
    }

    .top-basket {
    background-position: center;
    }
    .for {
        &-item {
            height: 268px;
        }
    }
    .product-content {
        column-gap: 29px;
        row-gap: 39px;
        &-box {
            column-gap: 29px;
            row-gap: 32px;
        }
    }
    .footer__logo {
        display: none;
    }
    .basket {
        grid-template-columns: repeat(8, 1fr);
        row-gap: 64px;
        &_nav {
            padding-top: 0;
        }
        
    }
}

@media (min-width: 768px) and (max-width: 833px) {
    .center {
        padding-left: 24px;
        padding-right: 24px;
    }
    .product {
        width: 345px;
    }
    .basket {
        &__name-box {
            gap: 604px;
        }
        &__button_form {
            margin-left: 26px;
        }
    }
}