.box {
    width: 600px;
    height: 400px;
    border: 1px solid #000;
    background-image: url();
    background-repeat: no-repeat;
    background-position: 10px 20px;
    background-size: cover;
    background-color: #fff;
    box-shadow: 5px 5px red;

}

.box:hover {
    box-shadow: 5px 5px red;

}